service cloud.firestore {
  match /databases/{database}/documents {
    match /stories/{story} {
      allow read;
      allow update, delete: if request.auth.uid == resource.data.owner;
      allow create: if request.auth.uid != null;
    }
    match /quests/{quest} {
      allow read;
      allow update, delete, create: if request.auth.uid != null;
    }
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}